%li{ :id => "note-#{note.id}" }
  =render 'notes/edit_link', :note => note
  =render 'notes/remove_link', :note => note
  %span.date
    =format_date note.created_at  
  .note-contents
    =note.contents.html_safe
      