=link_to 'Remove', case_note_path(note.case, note), 
         :class => 'icon icon-trash',
         :title => 'Remove this note',
         :method => :delete, :remote => true, 
         :confirm => 'Are you sure you want to remove this note?'