*.rbc
*.swp
*.swo
*.*~
.*.swp
.*.swo
.rbx
.rvmrc
.bundle
.DS_Store
.LCK*
.autotest
.idea
log/*.log
db/*.sqlite3
db/*.sqlite3-journal
db/development_structure.sql
db/schema.rb
config/database.yml
coverage/*
log/*
nbproject
public/tiny_mce_*
public/javascripts/all.js
public/assets
public/myimages
public/system
rerun.txt
spec/spec.html
test/file_sandbox/*
Thumbs.db
tmp/*
vendor/bundle

