.breadcrumb
  =link_to 'Dashboard', dashboard_path 
  \/
  =link_to 'My Employees', employees_path 
  \/ 
  =link_to @employee.full_name, employee_path(@employee)
  \/
  Edit

%h1 
  Employee: 
  =@employee.full_name

.employee-form
  =form_for @employee, :url => employee_path do |f|
    .field
      =f.label :first_name, 'First Name :'
      .boxfield
        =f.text_field :first_name, :class => :txtfield
    .field
      =f.label :last_name, 'Last Name :'
      .boxfield
        =f.text_field :last_name, :class => :txtfield    

    = f.fields_for :user_address do |f_address|
      .field
        =f_address.label :phone, 'Phone :'
        .boxfield
        =f_address.text_field :phone, :class => :txtfield

    .controls
      =f.submit 'Update', :class => 'button'
      =link_to 'Cancel', employee_path(@employee)