.breadcrumb
  =link_to 'Dashboard', dashboard_path 
  \/
  =link_to 'My Employees', employees_path 
  \/ 
  =link_to @employee.full_name, employee_path(@employee)
  \/
  Edit

%h1 
  Employee: 
  =@employee.full_name

.employee-form
  =form_for @employee, :url => employee_path do |f|

    =f.error_messages :header_message => 'Please correct the following errors:', :message => nil

    .midleft
      .field
        =f.label :email, 'Email :'
        .boxfield
          =f.text_field :email, :class => :txtfield

      .field
        =f.label :first_name, 'First Name :'
        .boxfield
          =f.text_field :first_name, :class => :txtfield
      .field
        =f.label :last_name, 'Last Name :'
        .boxfield
          =f.text_field :last_name, :class => :txtfield    

      = f.fields_for :user_address do |f_address|
        .field
          =f_address.label :phone, 'Phone :'
          .boxfield
          =f_address.text_field :phone, :class => :txtfield
          
      = f.fields_for :employee_info do |f_employee_info|
        .field
          =f_employee_info.label :active, 'Active :'
          .checkbox-wrapper{:style => 'height:28px;line-height:28px;'}
            =f_employee_info.check_box :active

    .midleft
      .field
        %label.inline Update Password (leave blank to keep the current one):
      .field
        =f.label :password, 'Password :'
        .boxfield
          =f.password_field :password, :class => :txtfield          

      .field
        =f.label :password_confirmation, 'Password Again :'
        .boxfield
          =f.password_field :password_confirmation, :class => :txtfield

    .controls
      =f.submit 'Update', :class => 'button'
      =link_to 'Cancel', employee_path(@employee)