.breadcrumb
  =link_to 'Dashboard', dashboard_path 
  \/
  =link_to 'My Employees', employees_path 
  \/   
  Add Employee

%h1 Add Employee  

.employee-form
  =form_for @employee, :url => employees_path do |f|
  
    =f.error_messages :header_message => 'Please correct the following errors:', :message => nil
    
    .field
      =f.label :email, 'Email :'
      .boxfield
        =f.text_field :email, :class => :txtfield    
    .field
      =f.label :password, 'Password :'
      .boxfield
        =f.password_field :password, :class => :txtfield        
    .field
      =f.label :first_name, 'First Name :'
      .boxfield
        =f.text_field :first_name, :class => :txtfield
    .field
      =f.label :last_name, 'Last Name :'
      .boxfield
        =f.text_field :last_name, :class => :txtfield    
    
    .controls
      =f.submit 'Add', :class => 'button'
      =link_to 'Cancel', employees_path