%ul.register-why
  %li
    Enter your information below to receive a 30 day free trial,  
  %li
    Create up to 3 Reports,
  %li
    See how much time you save with video and image capture, and "text snippets",
  %li
    Learn how your clients love using our secure links.
