<div class="breadcrumb">
  <%= link_to 'Dashboard', dashboard_path %> /
  <%= link_to 'My Cases', cases_path %> /   
  <%= link_to @footer.case.title, @footer.case %> /
  Create Footer
</div>

<h1>Create Footer</h1>

<%= render 'form' %>

