
<li class="folder">  
  <div class="link">
    <a href="#" 
       onclick="alert('Folders feature is not fully implemented yet');"
       title="See contents of this folder">Spouse Affairs</a>
  </div>  
</li>

