<li class="folder" data-folder-id="<%= folder.id %>">
  <%= render 'folders/small_icons', :folder => folder %>
  <div class="link">        
    <%= link_to folder.title, folder, :title => 'See contents of this folder' %>       
  </div>  
</li>

