=form_for @folder do |f|
  .field
    =f.label :title
    .boxfield
      =f.text_field :title, :class => 'txtfield txtfield-wide'

  .actions
    =f.submit btn_label, :class => 'button'
    =link_to 'Cancel', cases_path
  