.breadcrumb
  =link_to 'Dashboard', dashboard_path
  \/ 
  =link_to 'My Cases', cases_path
  \/
  Folder
  =@folder.title

%h1 Edit Folder

=render 'form', :btn_label => 'Save'

:javascript
  $(function() { $('#folder_title').focus(); });