<div class="text-snippet-insert-block">  
  <div class="left create-wrapper">
    <a href="#"
       title="Turn selected text in the editor into a snippet"
       >Create snippet from selection</a>    
  </div>
  <!-- <div class="left separator">|</div> -->
  <% if @text_snippets.empty? %>
    <div class="no-snippets-msg left">
      You don't have any snippets yet.      
    </div>
  <% else %>  
    <%= render 'text_snippets/dropdown' %>
  <% end %>
</div>