<div style="float:right;width:222px;padding-bottom:5px;">  
  <% if @text_snippets.empty? %>
    <div>
      You don't have any snippets yet, <br/> 
      <%= link_to 'click here', new_text_snippet_path %>
      to create one or more.
    </div>
  <% else %>
    <div class="rich-dropdown-wrapper rich-dropdown-wrapper-x">
        <select class="rich-dropdown insert-snippet-dropdown">
            <option value="" selected="selected">Insert Snippet</option>            
            <% @text_snippets.each do |snippet| %>
              <option value="<%= snippet.id %>"><%= snippet.title %></option>            
            <% end %>
        </select>
    </div>  
  <% end %>
</div>