<div class="text-snippet-insert-block">  
  <div class="left create-wrapper">
    <a href="#">Create snippet from selected text</a>    
  </div>
  <div class="left separator">|</div>
  <% if @text_snippets.empty? %>
    <div class="no-snippets-msg left">
      You don't have any snippets yet.      
    </div>
  <% else %>  
    <%= render 'text_snippets/dropdown' %>
  <% end %>
</div>