<div style="display:none;" id="dialog-snippet-title">
  <form action="<%= text_snippets_path %>.json">  
    <div class="field">
      <label for="snippet-title">Snippet Title:</label>
      <input type="text" id="snippet-title" style="width:15em;"/>    
    </div>      
        
        <input type="hidden" id="snippet-body"/>
        <input class="button submit" type="button" value="Create"/>    

  </form>
</div>