<div class="breadcrumb">  
  <%= link_to 'Dashboard', dashboard_path %> / 
  <%= link_to 'Text Snippets', text_snippets_path %> / 
  <%= @text_snippet.title %>
</div>

<h1>Edit Text Snippet</h1>

<%= render 'form' %>

