<div class="set-one">            
  <div class="leftbox">Background</div>
  <div class="rightbox">            
    <div class="left">            
      <label class="inline">Color</label>            
    </div>
    <div class="color-wrapper">
      <%= f.text_field :bgcolor, :class => :simple_color %>            
    </div>
  </div>        
</div>