<div class="set-one">            
  <div class="leftbox">Background</div>
  <div class="rightbox">            
    <div class="left">            
      <label class="inline">Color</label>            
    </div>
    <div class="color-wrapper background-color">
      <%= f.text_field :bgcolor, :class => :simple_color %>            
    </div>
  </div>        
</div>

<script type="text/javascript">
$('.background-color input.simple_color').change(function(e) {  
  var color = $(this).val();
  var parent = $(this).parents('.box-cont:first');
  var textarea = $('textarea', parent);    
  textarea.css('background-color', color);  
});
</script>