body {
  background: #f4f1e9 url("../images/creme_paper_bg.jpg");
  color: #745c56;
  font-family: Helvetica, Arial,'Liberation Sans',FreeSans,sans-serif;
  font-size: 12px; }
  body a {
    text-decoration: none;
    color: #fff;
    font-weight: normal; }
    body a:hover {
      text-decoration: none;
      color: #006897; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-weight: normal;
    text-align: center;
    color: #514135; }
    body h1 em, body h2 em, body h3 em, body h4 em, body h5 em, body h6 em {
      font-style: normal;
      color: #f16600;
      text-align: center; }
  body p {
    font-size: 16px; }
  body ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    body ul li {
      padding: 0;
      margin: 0; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#header {
  background: #3d241d url("../images/header_bg.png");
  border-bottom: 5px solid #8e6242;
  color: #b9937a; }
  #header .logo {
    float: left;
    display: block;
    width: 328px;
    height: 103px;
    background: url("../images/logo.png");
    text-indent: -9999px;
    margin: 20px 0; }
  #header #top_nav ul {
    float: right; }
    #header #top_nav ul li {
      float: left;
      margin: 0 0 0 1px; }
    #header #top_nav ul .telephone {
      float: left;
      margin: 0;
      padding: 15px 10px 0; }
    #header #top_nav ul .button {
      display: block;
      float: left;
      padding: 15px 20px;
      font-family: Georgia, Times, "Times New Roman", serif;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px; }
    #header #top_nav ul .brown {
      background: #1c0a05;
      color: #f2cf90; }
      #header #top_nav ul .brown:hover {
        background: #5f3b1d; }
    #header #top_nav ul .orange {
      background: #f57f1d;
      color: #fff; }
      #header #top_nav ul .orange:hover {
        background: #ff7807; }
  #header #navigation ul {
    float: right;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 54px 0 0 0; }
    #header #navigation ul li {
      float: left;
      margin: 0 0 0 1px; }
      #header #navigation ul li a {
        display: block;
        float: left;
        padding: 10px 25px;
        background: #1c0a05;
        color: #f2cf90; }
        #header #navigation ul li a:hover {
          background: #5f3b1d; }
      #header #navigation ul li a.active {
        background: #8e6242;
        color: #f7e2bc; }

#torn_paper_header {
  background: #f5e6b9 url("../images/lined_paper_bright.jpg") right -2px;
  padding: 25px 0 0;
  display: block;
  text-align: center; }
  #torn_paper_header h1 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 48px;
    margin: 0px;
    color: #3a211a;
    line-height: 48px; }
    #torn_paper_header h1 span {
      font-size: 34px;
      display: block;
      margin-top: 5px; }
      #torn_paper_header h1 span em {
        color: #f16600; }
  #torn_paper_header p {
    font-size: 16px;
    color: #80635b;
    display: block;
    margin: 23px 0 0 0; }
  #torn_paper_header .torn_paper {
    background: url("../images/creme_paper_torn.png") repeat-x;
    display: block;
    height: 43px;
    margin-top: 7px; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#footer {
  background: #3d241d url("../images/header_bg.png");
  border-top: 5px solid #8e6242;
  color: #8e6242;
  padding: 20px 0; }
  #footer .logo {
    display: block;
    width: 192px;
    height: 61px;
    background: #3d241d url("../images/footer_logo.png");
    text-indent: -9999px;
    margin: 0 0 20px 0; }
  #footer .copy {
    font-size: 12px;
    font-family: Georgia, Times, "Times New Roman", serif;
    margin: 0; }
  #footer .tagline {
    font-size: 18px;
    font-family: Georgia, Times, "Times New Roman", serif;
    margin: 20px 0 30px;
    color: #b89073;
    font-style: italic;
    text-align: right;
    display: block; }
  #footer .links {
    text-align: right;
    font-size: 14px;
    font-family: Georgia, Times, "Times New Roman", serif; }
  #footer a {
    color: #f57f1d; }
    #footer a:hover {
      color: #fdac2e; }
  #footer .link_divider {
    padding: 10px; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CONTENT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#content {
  padding: 20px 0;
  color: #48392e; }
  #content h2 {
    font-size: 32px;
    font-family: Georgia, Times, "Times New Roman", serif; }
  #content h3 {
    font-size: 24px;
    font-family: Georgia, Times, "Times New Roman", serif; }
  #content #video_features h2 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 20px; }
  #content #video_features h4 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
    color: #f2ce8e;
    background: #3a211a;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 2px; }
  #content #video_features .huge_signup em {
    display: block;
    text-align: center;
    padding: 10px 0 0 0;
    line-height: 12px;
    font-size: 12px;
    color: #755e57; }
  #content .testimonials #pi_image {
    display: block;
    background: #e4dbd0 url("../images/pi_image.png") no-repeat center center;
    text-indent: -9999px;
    height: 254px; }
  #content .testimonials .grid_8 {
    background: url("../images/testimonials_bg.jpg"); }
  #content .testimonials .quote {
    padding: 30px; }
    #content .testimonials .quote p {
      background: url("../images/testimonials_quote.png") no-repeat left top;
      padding: 9px 0 0 55px;
      font-size: 18px;
      color: #5b4a3b; }
    #content .testimonials .quote em {
      text-align: right;
      display: block;
      font-size: 20px;
      font-family: Georgia, Times, "Times New Roman", serif;
      color: #7b6f65; }
  #content .testimonials .grid_12 .quote {
    background: url("../images/hr.png") no-repeat left -6px; }
  #content .testimonials .grid_12 .background {
    background: url("../images/testimonials_bg.jpg"); }
  #content .testimonials .testimonial_footer {
    background: url("../images/hr.png") no-repeat left 193px;
    padding-bottom: 40px; }
  #content #feature_table {
    color: #514135; }
    #content #feature_table .grid_5 {
      background: url("../images/sidebar_divider.png") no-repeat left center; }
      #content #feature_table .grid_5 p strong {
        display: block;
        padding-left: 20px; }
      #content #feature_table .grid_5 .numbered_list {
        margin-left: 20px; }
    #content #feature_table table {
      width: 100%;
      margin-top: 50px; }
      #content #feature_table table .side_headings {
        width: 160px;
        text-align: right;
        padding-right: 20px;
        font-size: 18px;
        font-weight: bold; }
      #content #feature_table table thead th {
        font-family: Georgia, Times, "Times New Roman", serif;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 5px;
        text-align: center;
        color: #fff; }
      #content #feature_table table thead .trad {
        background: #8d7662;
        font-size: 12px; }
      #content #feature_table table thead .sherlock {
        background: #e27423; }
      #content #feature_table table .comparison {
        background: #fff;
        border: 1px solid #dfdcd5; }
      #content #feature_table table tbody td {
        width: 340px;
        padding: 20px; }
        #content #feature_table table tbody td .raquo {
          color: #a69d83;
          padding: 0 5px; }
      #content #feature_table table tbody .trad {
        background: #f1efe8;
        color: #675546; }
      #content #feature_table table tbody .sherlock {
        background: #f9f9f9;
        font-size: 14px; }
      #content #feature_table table tbody .odd .trad {
        background: #fdfbf4; }
      #content #feature_table table tbody .odd .sherlock {
        background: #ffffff; }
  #content #security p {
    font-size: 14px;
    margin: 0 0 5px; }
    #content #security p strong {
      font-size: 16px; }
  #content #security .section {
    padding: 30px 0 20px; }
    #content #security .section .info {
      height: 510px;
      background: #fff;
      padding: 30px 20px 0;
      -moz-box-shadow: 1px 1px 1px 1px #d8d6ce;
      -webkit-box-shadow: 1px 1px 1px 1px #d8d6ce;
      box-shadow: 1px 1px 1px 1px #d8d6ce; }
      #content #security .section .info h4 {
        font-family: Georgia, Times, "Times New Roman", serif;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 20px; }
      #content #security .section .info p {
        margin-bottom: 20px; }
      #content #security .section .info .icon {
        display: block;
        width: 72px;
        height: 72px;
        margin: 0 auto; }
      #content #security .section .info #icon_access {
        background: url("../images/safety_icons.png") left top; }
      #content #security .section .info #icon_online {
        background: url("../images/safety_icons.png") -73px top; }
      #content #security .section .info #icon_backups {
        background: url("../images/safety_icons.png") right top; }
  #content #getting_started {
    margin-bottom: 30px; }
    #content #getting_started h2 {
      margin-bottom: 10px; }
    #content #getting_started h3 {
      font-family: Helvetica, Arial,'Liberation Sans',FreeSans,sans-serif;
      font-size: 22px;
      font-weight: bold; }
    #content #getting_started .grid_5 {
      padding: 0 0 40px;
      background: url("../images/sidebar_divider.png") no-repeat left center; }
      #content #getting_started .grid_5 .numbered_list {
        padding-left: 20px; }
    #content #getting_started p {
      font-size: 14px; }
    #content #getting_started .big_text p {
      padding: 0;
      font-size: 18px;
      margin: 0 0 20px 0; }
  #content #risk_free h4 {
    font-size: 26px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px; }
  #content #risk_free p {
    font-size: 14px; }
  #content #risk_free .numbered_list .small_text p {
    font-size: 14px;
    padding: 3px 0 0 10px; }
  #content #risk_free .grid_5 {
    padding: 0 0 40px;
    background: url("../images/sidebar_divider.png") no-repeat left center; }
    #content #risk_free .grid_5 .icon_100 {
      background: url("../images/100_badge.jpg") no-repeat;
      width: 241px;
      height: 175px;
      display: block;
      text-indent: -9999px;
      margin: 0 auto;
      margin-bottom: 20px; }
    #content #risk_free .grid_5 .small_trial {
      margin-top: 10px;
      font-size: 12px;
      text-align: center;
      color: #928b7b; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ LETTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#letter {
  background: #f5e6b9 url("../images/lined_paper_dark.jpg") right 5px;
  padding: 32px;
  font-size: 14px;
  color: #3a211a; }
  #letter p {
    margin-bottom: 25px;
    line-height: 25px; }
  #letter .strong {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 25px; }
  #letter .fancy_list {
    margin: 0 0 25px 40px; }
    #letter .fancy_list li {
      background: url("../images/list_bullet.png") no-repeat left 5px; }
  #letter .huge_button {
    margin-top: 40px;
    margin-bottom: 40px; }
  #letter .testimonials .grid_12 .quote {
    background: url("../images/hr_testimonials.png") no-repeat left -7px;
    padding: 30px; }
    #letter .testimonials .grid_12 .quote p {
      background: url("../images/testimonials_quote_dark.png") no-repeat left top;
      padding: 9px 0 0 55px;
      font-size: 18px;
      color: #5b4a3b; }
    #letter .testimonials .grid_12 .quote em {
      text-align: right;
      display: block;
      font-size: 20px;
      font-family: Georgia, Times, "Times New Roman", serif;
      color: #7b6f65; }
  #letter .testimonials .grid_12 .background {
    background: url("../images/testimonials_lined_bg.png"); }
  #letter .testimonials .testimonial_footer {
    background: url("../images/hr_testimonials.png") no-repeat left 193px;
    padding-bottom: 40px; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CONTENT ELEMENTS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.huge_button {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  text-indent: 2px;
  color: #fff;
  background: #e27524 url("../images/button_bg.png");
  display: block;
  margin: 0 auto;
  width: 400px;
  border: 1px solid #c16112;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center; }
  .huge_button:hover {
    background: #e27524 url("../images/button_bg.png") left -58px;
    color: #fff;
    border: 1px solid #c15100; }
    .huge_button:hover span {
      border-left: 1px solid #ffa263; }
  .huge_button span {
    display: block;
    border-left: 1px solid #f1bf9d;
    padding: 15px 0; }

.big_button {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  text-indent: 2px;
  color: #fff;
  background: #e27524 url("../images/button_bg.png");
  display: block;
  margin: 0 auto;
  width: 340px;
  border: 1px solid #c16112;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center; }
  .big_button:hover {
    background: #e27524 url("../images/button_bg.png") left -58px;
    color: #fff;
    border: 1px solid #c15100; }
    .big_button:hover span {
      border-left: 1px solid #ffa263; }
  .big_button span {
    display: block;
    border-left: 1px solid #f1bf9d;
    padding: 15px 0; }

.fancy_list li {
  padding: 0 0 0 25px;
  margin-bottom: 5px;
  background: url("../images/list_bullet.png") no-repeat left 6px;
  font-size: 14px; }
  .fancy_list li strong {
    color: #4d3832; }

#content {
  background: url("../images/lined_paper_torn.png") repeat-x left bottom; }
  #content .hr {
    border: 0;
    background: url("../images/hr.png") no-repeat;
    width: 940px;
    height: 28px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px; }
  #content .numbered_list .number {
    float: left;
    background: url("../images/numbers_circle.png") no-repeat;
    width: 28px;
    height: 22px;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #fff;
    display: block;
    padding-top: 6px;
    margin-right: 5px; }
  #content .numbered_list .small_text p {
    padding: 6px 0 0 0;
    font-size: 13px;
    margin: 0 0 10px 0; }
  #content .numbered_list .fancy_list li {
    font-size: 11px;
    background: url("../images/list_bullet.png") no-repeat left 3px; }

/* Clearing and Units */
.clear {
  clear: both; }

.unit {
  float: left;
  _zoom: 1; }

.line, .lastUnit {
  overflow: hidden;
  _overflow: visible;
  _zoom: 1; }

.lastUnit_right {
  float: right;
  overflow: hidden;
  _overflow: visible;
  _zoom: 1; }

.cursorPointer {
  cursor: pointer; }

.zoom {
  _overflow: visible;
  _zoom: 1; }

.clear {
  clear: both; }

.hasLayout {
  height: 1%;
  /* IE6 hack to make #menu stretch as far as the floated children go.  */
  overflow: hidden;
  /*FF and non-IE hack to fulfill the same task as above.  */ }

.clearfix {
  display: inline-table;
  /* Hides from IE-mac \*/
  height: 1%;
  display: block;
  /* End hide from IE-mac */ }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

html > body .clearfix {
  height: auto; }

/* OO CSS  */
.padding10h {
  padding: 10px 0; }

.padding20h {
  padding: 20px 0; }

.padding10t {
  padding-top: 10px; }

.padding20t {
  padding-top: 20px; }

.padding30t {
  padding-top: 30px; }

.padding20b {
  padding-bottom: 20px; }

.padding0t {
  padding-top: 0; }

.padding0b {
  padding-bottom: 0; }

.margin0b {
  margin-bottom: 0; }

.margin10b {
  margin-bottom: 10px; }

.margin20b {
  margin-bottom: 20px; }

.margin10l {
  margin-left: 10px; }

.margin0t {
  margin-top: 0; }

.margin0 {
  margin: 0; }

.margin60t {
  margin-top: 60px; }

.strong {
  font-weight: bold; }

.alignRight {
  text-align: right; }

.alignLeft {
  text-align: left; }

.alignCenter {
  text-align: center; }
