<div class="case-small-icons">
  <a href="#"     
     title="Preview" class="icon icon-eye-open">Preview</a>
  <a href="#" title="Get as PDF" class="icon icon-pdf">PDF</a>
  <a href="#" title="Share" class="icon icon-envelope">Share</a>
  
  <%= link_to 'Delete', c, 
       :confirm => 'Are you sure you want to remove this case?', 
       :method => :delete,
       :class => 'icon icon-trash' %>
    
</div>      
        