<div class="case-small-icons">
  
  <%= link_to 'Preview', case_preview_path(c), 
              :title => 'Preview Report',
              :class => 'icon icon-eye-open' %>
  
  <%= link_to 'Get PDF', case_path(c, :pdf), 
      :class =>'icon icon-pdf', 
      :title => 'Download as PDF' %>    
  
  <%= link_to 'Share', new_case_invitation_path(c), 
      :title => 'Share Report with a Client',
      :class => 'icon icon-envelope' %>    
  
  <%= link_to 'Delete', c, 
       :confirm => 'Are you sure you want to remove this case?', 
       :method => :delete,
       :class => 'icon icon-trash' %>
    
</div>      
        