<div class="new-text-block new-block" style="display:none;">
    
  <div class="block block-wrapper text-block" data-block_type="text">
    
    <div class="block-action-links">  
      <span class="links-for-editable" style="display:none;">      
        <a href="#" class="link-save">Save</a> |          
        <a class="link-cancel" href="#">Cancel</a>
      </span>    
    </div>
    
    <div class="block-editable-wrapper">
      <div>
        <h4 style="margin-bottom:1em;">Text Block</h4>
        <div class="block-editable">
          <div class="block-editable-html"></div>
        </div>
      </div>
    </div>
    
  </div>
    
</div>