<div class="new-page-break-block new-block" style="display:none;">
    
  <div class="block block-wrapper page-break-block" data-block_type="page-break">   
    
    <div class="block-action-links">  
      <span class="links-for-editable" style="display:none;">      
        <a href="#" class="link-save" title="Click to save changes">Save</a> |          
        <a class="link-cancel" href="#">Cancel</a>
      </span>    
    </div>
    
    <div class="block-editable-wrapper">
      <div>
        <h4 style="margin-bottom:1em;">Page Break Block</h4>
        <div class="block-editable">
          <form>
             <div class="custom-form" data-block_type="page-break" 
                  style="margin-bottom:5px;">
               
               <div class="page-break-row">
                  <label class="small-black" 
                         style="width:90px;"
                         >With Header:</label>
                  <input type="checkbox"
                         style="margin-top: 6px;"
                         id="page-break-header-field"
                         class="page-break-header-field"
                         name="with_header"/>
               </div>
               
             </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>