<div class="new-data-log-block new-block" style="display:none;">
    
  <div class="block block-wrapper data-log-block" data-block_type="data-log">   
    
    <div class="block-action-links">  
      <span class="links-for-editable" style="display:none;">      
        <a href="#" class="link-save">Save</a> |          
        <a class="link-cancel" href="#">Cancel</a>
      </span>    
    </div>
    
    <div class="block-editable-wrapper">
      <div>
        <h4 style="margin-bottom:1em;">Data Log Block</h4>
        <div class="block-editable">
          <form>
            <div class="custom-form" data-block_type="data-log" style="margin-bottom:5px;">
              Date:
                <input type="text" name="day" size="10"/>
                (MM/DD/YYYY)
              &nbsp;
              &nbsp;
              Time:
                <input type="text" name="hour" size="6"/>                          
                (HH:MM am/pm)
              &nbsp;
              &nbsp;
              &nbsp;              
              &nbsp;
              Location: 
                <input type="text" name="location" size="20"/>
            </div>            
          </form>
          <div class="block-editable-html"></div>          
        
        </div>
      </div>
    </div>
    
  </div>
    
</div>