<div class="midright"> 
  <div class="inbox-hd">Other Page Options</div>
  
  <%= render 'password_protection' if false %>    
  
  <% if @case.footer %>
    <%= link_to 'Footer', 
        edit_case_footer_path(@case, @case.footer),        
        :class => :button, :title => 'Edit Footer for this Report' %>
  <% else %>
    <%= link_to 'Footer', 
        new_case_footer_path(@case), 
        :class => :button, :title => 'Create Footer for this Report' %>
  <% end %>
    
</div>