<div class="midleft">    
    <div class="inbox-hd">Page Information</div>
    <div class="txtbox">
      <div class="boxtxt">File Name :</div>
      <div class="boxfield">
        <input type="text" name="" class="txtfield">
      </div>
    </div>
    <div class="txtbox">
      <div class="boxtxt">Title :</div>
      <div class="boxfield">
        <input type="text" name="" class="txtfield">
      </div>
    </div>
    <div class="txtbox">
      <div class="boxtxt">Client ID :</div>
      <div class="boxfield">
        <input type="text" name="" class="txtfield">
      </div>
    </div>
    <div class="txtbox">
      <div class="boxtxt">Description :</div>
      <div class="boxfield">
        <input type="text" name="" class="txtfield">
      </div>
    </div>
</div>