<div class="midleft">    
    <div class="inbox-hd">Page Information</div>
    
    <form>
      <div class="field">
        <label>File Name :</label>
        <div class="boxfield">
          <input type="text" class="txtfield"/>
        </div>
      </div>
      <div class="field">
        <label>Title :</label>
        <div class="boxfield">
          <input type="text" class="txtfield"/>
        </div>
      </div>
      <div class="field">
        <label>Client ID :</label>
        <div class="boxfield">
          <input type="text" class="txtfield"/>
        </div>
      </div>
      <div class="field">
        <label>Description :</label>
        <div class="boxfield">
          <input type="text" class="txtfield"/>
        </div>
      </div>
    </form>
          
</div>