<div class="breadcrumb">
  <%= link_to 'Dashboard', dashboard_path %> /
  <%= link_to 'My Cases', cases_path %> / 
  <%= link_to @case.title, @case %> /
  Edit
</div>

<h1>Edit Case</h1>

<%= render 'form' %>

<script type="text/javascript">
  $(function() {
    //$('#case_title').focus();
  });
</script>