<div class="breadcrumb">
  <%= link_to 'Dashboard', dashboard_path %> /
  <%= link_to 'My Cases', cases_path %> / Create New Case
</div>

<h1>Create New Case</h1>

<%= render 'form' %>

<script type="text/javascript">
  $(function() {
    $('#case_title').focus();
  });
</script>
