<h1>Case: <%= @case.title %></h1>

<%= link_to 'Back to Cases list', cases_path %>

<h2>Summary</h2>

<p>
  <%= @case.summary.html_safe %>
</p>

<div>
  <%= link_to 'Edit Title and Summary', edit_case_path(@case) %>
</div>

<h2>Blocks</h2>

<h3>This case doesn't have any blocks yet</h3>
