%h1 Upgrade or Purchase

-if @subscription_inactive
  %p.subscription-inactive
    Your subscription is not active anymore.    
-elsif @subscription_expired
  %p.subscription-expired
    Your subscription expired on
    =format_date(@subscription.period_ends_at)
-else
  %p
    You reached maximum number of reports within your current subscription which
    is
    %strong
      =@subscription.cases_max
      reports per month.  

%p Please upgrade to one of the following plans:

%ul.ordinary{:style => 'margin-bottom:0;'}
  -@plans.each do |plan|
    %li
      =link_to plan.chargify_handle.capitalize, chargify_url(plan)      
      \-
      %strong
        =number_to_currency plan.price
      per month

-if @subscription && @subscription.extra_case_price.to_i > 0
  %p{:style => 'margin-bottom:0;margin-top:1em;'}
    Alternatively 
    =link_to 'you may pay one-time fee', new_purchase_path
    of  
    %strong
      =number_to_currency @current_plan.extra_case_price
    for creating just this report
