<h1>
  <%= link_to 'My Cases', cases_path %> &gt; 
  <%= link_to @case.title, @case %> &gt;
  Edit Video Block
</h1>


<script type="text/javascript" 
        src="<%= url_for root_url %>javascript/swfobject.js"></script>

<%= render 'form' %>