<div class="breadcrumb">
  <%= link_to 'Dashboard', root_path %> /
  <%= link_to 'My Cases', cases_path %> / 
  <%= link_to @case.title, @case %> /
  Create a Video Block
</div>

<h1>Create a Video Block</h1>

<%= render 'form' %>

<script type="text/javascript">
  $(function() {
    $('#video_title').focus();
  });
</script>
