<h1>
  <%= link_to 'My Cases', cases_path %> &gt; 
  <%= link_to @case.title, @case %> &gt;
  Create a Video Block
</h1>

<%= render 'form' %>

<script type="text/javascript">
  $(function() {
    $('#video_title').focus();
  });
</script>
