<div class="head">
  <div class="headtxt">Account</div>
  <div class="head-account-links">
    <a class="settings" href="<%= account_path %>" title="Settings">Settings</a>
    <a class="help" href="#" title="Help">Help</a>
  </div>
</div>
