<div class="actions" id="accept-java" style="display:none;">
  <div class="note-accept-prompts">
    <strong>Note:</strong>
    To use <%= func_name %>, please accept any prompts to allow 
    or install the Java plug-in
  </div>
  
  <div class="detecting">
    <div class="detecting-text">Detecting Java version...</div>
    <img class="detecting-spinning" src="/assets/loading_32_140.gif"/>          
    <div id="java-version-result"></div>    
  </div>
  
  <div id="java-applet-launching" style="display:none;">
    <div class="please-wait">
      Starting the app please wait till the red frame appears...
    </div>
    <img class="spinning" src="/assets/loading_32_140.gif"/>
    <div class="app-is-running" 
         style="display:none;">Frame capture launched</div>
    
  </div>
  <div id="java-install" style="display:none;">       
    Please <strong>
    <span class="upgrade">upgrade</span>
    <span class="install">install</span>
    Java 
    </strong>
    in order to use this feature. Reload this page when done.
    <a title="Free Java Download"           
       href="http://java.com/en/download/index.jsp" 
       class="download_java">Download Java for Free!</a>

  </div>
</div>