<div class="actions" id="accept-java" style="display:none;font-size:110%;">
  <div class="note">
    <strong>Note:</strong>
    To use <%= func_name %>, please accept any prompts to allow 
    or install the Java plug-in
  </div>
  <div class="detecting" style="margin-top:2px;">
    <div style="float:left;margin:0px 5px 0 0;">Detecting Java version...</div>
    <div style="float:left;" id="java-version-result">
    <img src="/assets/loading_32_140.gif"/>
    </div>        
  </div>
  <div style="display:none;clear:both;padding-top:2px;" 
       id="java-applet-launching">
    <div style="float:left;margin:8px 4px 0 0;">
      Starting the app please wait till the red frame appears...
    </div>
    <img src="/assets/loading_32_140.gif"/>
  </div>
  <div style="display:none;clear:both;padding-top:2px;" 
       id="java-install">        
    Please <strong><span class="upgrade">upgrade</span>
           <span class="install">install</span>
    Java 
    </strong>
    in order to use this feature. Reload this page when done.
    <a title="Free Java Download"           
       href="http://java.com/en/download/index.jsp" 
       class="download_java">Download Java for Free!</a>

  </div>
</div>