<!-- (c) 2005, 2012. Authorize.Net is a registered trademark of CyberSource Corporation --> 
<div class="AuthorizeNetSeal"> 
  <script type="text/javascript" language="javascript">
  var ANS_customer_id="07b4b19f-188a-42be-a33f-6167c3f4c386";</script> 
  <script type="text/javascript" language="javascript" 
  src="//verify.authorize.net/anetseal/seal.js" ></script> 
  <a href="http://www.authorize.net/" id="AuthorizeNetText" 
  target="_blank">Accept Credit Cards</a> 
</div>