<div id="footer">
  <div class="footer">
    <div class="footer-one">
      <div class="footer-box">
        <div class="heading">Features and Services</div>
        <div class="p-txt"> Pellentesque habitant morbi<br />
          Ut accumsan ultricies elit<br />
          Aliquam vehicula mi at mauris<br />
          Vivamus sollicitudin metus eget<br />
          Etiam est nunc, venenatis<br />
          Phasellus pellentesque aliquam</div>
      </div>
      <div class="footer-box2">
        <div class="heading">Find us Elsewhere</div>
        <div class="iconbox">
          <div class="icon-txt">RSS Submit</div>
          <div class="icon-img"><a class="fl" href="#"><img src="/public/images/rss.jpg" width="25" height="25" alt="" border="0" /></a></div>
        </div>
        <div class="icon-part"><img src="/public/images/divi.png" width="212" height="1" /></div>
        <div class="iconbox">
          <div class="icon-txt">Follow us on facebook</div>
          <div class="icon-img"><a class="fl" href="#"><img src="/public/images/facebook.jpg" width="25" height="25" alt="" border="0" /></a></div>
        </div>
        <div class="icon-part"><img src="/public/images/divi.png" width="212" height="1" /></div>
        <div class="iconbox">
          <div class="icon-txt">Follow us on twitter</div>
          <div class="icon-img"><a class="fl" href="#"><img src="/public/images/twitter.jpg" width="25" height="25" alt="" border="0" /></a></div>
        </div>
        <div class="icon-part"><img src="/public/images/divi.png" width="212" height="1" /></div>
      </div>
      <div class="footer-box3">
        <div class="heading">Newsletter Sign Up!</div>
        <div class="p-txt"> We have new updates every week, <br />
          so stay in touch!</div>
        <div class="fields">
          <input class="txtfield" name="" type="text" />
          &nbsp; <a href="#"><img src="/public/images/signup.jpg" width="76" height="26" alt="" border="0" /></a> </div>
        <div class="p-txt"> <a class="atxt" href="#">Unsubscribe</a></div>
      </div>
    </div>
    <div class="copyright">Copyright © SherlockDocs. All Rights Reserved.</div>
  </div>
</div>