<h1 class="landing-txt">“Reports write themselves with SherlockDocs”</h1>
<h2 class="landing-txt2">The better way to get reports done</h2>
  
<div id="midsection">
  <div class="mid-one">
    <div class="logoimg"><img 
        src="/public/images/logo-landingpage.jpg" 
        width="313" height="189" /></div>
    <div class="plansbtn"><a 
          href="#pricing"><img 
            src="/public/images/plans-and-pricing.jpg" 
            width="273" height="44" alt="" border="0" /></a></div>
  </div>
  <div class="mid-two">
    <div class="boxone">
      <div class="btn"><img src="/public/images/1.jpg" width="25" height="22" /></div>
      Write or import some notes on your case</div>
    <div class="boxtwo">
      <div class="btn"><img src="/public/images/2.jpg" width="25" height="22" /></div>
      Capture or upload images, video, GPS<br />
      reports right off your screen. </div>
    <div class="boxone">
      <div class="btn"><img src="/public/images/3.jpg" width="25" height="22" /></div>
      Publish a PDF with video embedded <br />
      right in it and share with clients or on<br />
      your ipad with Courts </div>
  </div>
  <div class="mid-three">
    <div class="reportimg">
      <a href="#" class="link-sample-report"        
         title="Click to see a sample report">
        <img src="/public/images/report.jpg" width="177" height="193" />
      </a>
    </div>
    <div class="reporttxt">
      <a title="Click to see a sample report" class="link-sample-report"
         href="#">this report was made in minutes not hours</a>
    </div>
  </div>
  
  <div style="display:none;" id="sample-report-form">
    
    <%= form_for(@email, :remote => true) do |f| %>          
    
      <%= f.label :email, 'Your Email:' %>                      
      <%= f.text_field :email %>            
          
      <div class="actions">    
        <%= f.submit 'Get Your Sample Report', :title => 'Get Your Sample Report' %>
      </div>                        
    
    <% end %>
        
  </div>
  
</div>