<div id="newbox">
    <div class="newbox">
      <div class="newbox-heading">
        <div class="head-left"><img width="285" height="77" alt="" 
         src="/public/images/logo-new.png"></div>
        <div class="head-right">Private Investigators<br>
          Stop struggling writing reports the HARD way</div>
      </div>
      <div class="newbox-body">
        <div class="newbox-body-left"><a href="#section2"><img 
             width="359" height="221" border="0" alt="" 
             src="/public/images/machine.png"></a></div>
        <div class="newbox-body-right">
          <div class="new-txtbox">Quickly &amp; easily deal with images and video;<br>
            then share reports with clients instantly<br>
            <br>
            <a title="Get a free report"
               href="#section6"><img width="226" height="39" border="0" 
            alt="Get a free report" 
            src="/public/images/get-a-free-report.png"></a></div>
          <div class="new-imagebox"><img width="180" height="200" alt="" 
               src="/public/images/report.png"><br>
            this report was made in minutes not hours</div>
        </div>
      </div>
    </div>
</div>