 


  
  
<div id="navigation" class="line">
  <ul>
    <li><a href="<%= root_path %>" <% if @active_navlink == "home" %> class="active"<% end %>>Home</a></li>
    <li><a href="<%= how_it_works_path %>" <% if @active_navlink == "how_it_works" %> class="active"<% end %>>How it Works</a></li>
    <li><a href="<%= pricing_path %>" <% if @active_navlink == "pricing" %> class="active"<% end %>>Pricing</a></li>
    <li><a href="<%= new_contact_message_path %>" <% if @active_navlink == "contact" %> class="active"<% end %>>Contact</a></li>
  </ul>
</div>
