
  
  
<div id="navigation" class="line">
  <ul>
    <li><a href="<%= root_path %>" class="active">Home</a></li>
    <li><a href="/">How it Works</a></li>
    <li><a href="<%= pricing_path %>">Pricing</a></li>
    <li><a href="<%= new_contact_message_path %>">Contact</a></li>
  </ul>
</div>
