<h1>Dashboard</h1>

<h2>Cases</h2>

<div style="margin-top:1em;">
You have
<% if @cases.empty? %>
no cases
<% else %>
    <%= link_to(pluralize(@cases.count, 'case'), cases_path) %>
<% end %>
created
|
<%= link_to 'Create a new Case', new_case_path %>

<h2>Letterhead</h2>

<%= render 'letterhead_link' %>

