<% content_for :head do %>
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW"/>
  <link href="/public/css/pricing.css" rel="stylesheet" type="text/css" />
<% end %>

<div id="midbox">  
  <div class="midwrapper">
    <div class="inbox">
      <div class="inbox-body-new">
        <div class="q-a-heading">Sherlock Docs - Help &amp; Support</div>
        <div class="answer-part">Before attempting to use SherlockDocs make 
          sure you have the following applications installed on your computer 
          - both are free:
          <br />
          <a target="_blank" href="http://java.com/en/download/index.jsp">http://java.com/en/download/index.jsp</a><br />
          <a target="_blank" href="http://get.adobe.com/reader">http://get.adobe.com/reader</a><br />
          <br />
          SherlockDocs is based on a block building approach. You chose the 
          type of block you wish to create from a drop down menu, click insert 
          and the new block will appear. You can edit the blocks after creation, 
          delete the blocks, insert new blocks in between old blocks. <br />
          <br />
          <em>Note about Java - for a long time Oracle didn't uninstall older 
          versions of Java when you upgraded to a newer version. If you are 
          having trouble with the screencapture or screencaster its possible 
          that you have multiple older versions of Java installed on your 
          computer. Click on your Control Panel, Add/Remove Programs and 
          uninstall any older versions of Java. The good news is that once 
          you remove older versions now Oracle overwrites older versions of 
          Java when you download a new one.</em><br />
        </div>
        <div class="question-part">How do I get my company name to appear on my Cases Home Page?</div>
        <div class="answer-part">Enter your company name in your account - it will automatically transfer to your home page.</div>
        <div class="question-part">What kind of images can I use for a logo?</div>
        <div class="answer-part">Any type of image file like .png .bmp .jpg .jpeg .tif .eps </div>
        <div class="question-part">How large a file can I upload?</div>
        <div class="answer-part">Remember that you have storage limits based on your plan. However, bear in mind that upload speeds are very slow compared to download speed. We recommend that you keep uploaded files below 50 MB.  Better yet, use the video screencast option to keep file sizes minimized for your clients. If you want to send clients large video files with gigabytes of data, the best option is to burn it to a DVD.  </div>
        <div class="question-part">How to I use a text block?</div>
        <div class="answer-part">Just start typing - a scroll block will appear if the text in your block exceeds the visual screen space. There are lots of tools along the bottom of the text block to help format the text - bullet points, alignment icons.</div>
        <div class="question-part">How do I use the screen capture option?</div>
        <div class="answer-part">First, make sure you have Java installed on your computer <br />
<a target="_blank" href="http://java.com/en/download/index.jsp">http://java.com/en/download/index.jsp</a><br />
<br/>
If you do then simply click the screen capture button. An orange box will appear on the perimeter of your screen. Open the image you want to capture and move your curser over each edge of the orange box. A two way arrow will appear and you can drag the box to resize it to the portion of the screen you want to capture. When done click "capture" and a box will appear requesting a caption for the image. Once you enter it and click OK then a success button will appear. Once done you will return to the case screen and can continue.
</div>
        <div class="question-part">How do I use the video screencast option?</div>
        <div class="answer-part">Enter a title for the screencast, press the record screencast button. A box will appear and you can open any media player (like Apple Quicktime or Windows Media Player) and start playing the video. Pause the video at the sectiton you want to capture. Resize the video frame and when positioned start the recorded. Once you see the timer start, start playing your video. If you do not want to capture the audio press the mute button. Note that you can use the screencast option to create your own documentaries with applications like PowerPoint. The screencast will record your voice from your mic.</div>
        <div class="question-part">What is the best way to send a document to my clients?</div>
        <div class="answer-part">Use the Share icon (look like an envelope) This solves two problems:
          
          
          <ul style="margin: 0 0 1em 1em;">
            <li> sending confidential information through non-secure email,
            <li> limits on file size that most email providers have
          </ul>
          
          The client receives a link to create their own secure account that cannot access your account and is accessable only by the client.</div>
        <div class="question-part">How do I put all cases for one client together? How do I create a folder?</div>
        <div class="answer-part">Just click on "create a folder" link and a new folder will appear. Drag any cases into the folder and name it by client, case type or any way you desire.</div>
        <div class="question-part">Can I add new blocks in between blocks I have already created?</div>
        <div class="answer-part">Yes - just select the type of block and click the insert button.</div>
        <div class="question-part">Can I use my own header?</div>
        <div class="answer-part">The best way to use a custom header is to upload an image of the header and import it as the logo. You can take a screenshot of your custom header if you do not have one using a program like Jing. Just make sure to center your logo and chose white background and white text.</div>        
        <div class="question-part">How can I keep private notes in my case without letting my client see them?</div>
        <div class="answer-part">Just click on the "private notes" section and add any information you desire. Your client will never see this information.</div>
        <div class="question-part">Can I tell if my clients viewed my report?</div>
        <div class="answer-part">Just go to your Account information and you can see email addresses of people viewing each case.</div>
        <div class="question-part">How do I tell how much memory I am using?</div>
        <div class="answer-part">Just click on your Account Information and look under resources.</div>
        <div class="question-part">How do I make my header or footer an active link to my website?</div>
        <div class="answer-part">When you set up either the header or footer just click on the "make footer/header a link" - a box appears into which you can enter your website URL.<br />
<br />
For additional help contact support at <a href="mailto:info@SherlockDocs.com">info@SherlockDocs.com</a><br />
<br />
</div>        
      </div>
    </div>
    <div class="bottomtxt">SherlockDocs focus on 
      <font style="color:#e75c0d;">simplicity,</font> 
      <font style="color:#67911c;">clarity,</font> and 
      <font style="color:#2670b0;">ease of use</font> make it truly unique.<br />
      You’ll love using SherlockDocs.</div>
  </div>
</div>
<div class="clr"></div>