    <div id="torn_paper_header" class="line">
      <div class="container_12">
        <div class="grid_12">
          <h1>
            Here's How <em>SherlockDocs</em> Works
          </h1>
          
          <p>Learn how to use the features of SherlockDocs in just 30 minutes.</p>
        </div>
      </div>
      
      <div class="torn_paper"></div>
    </div>
    
    <div id="content" class="line">
      <div class="container_12">
        
        <div id="tutorial_vids" class="line">
        
          <div class="line">
            <div class="grid_4">
              <a href="" class="image_preview">
                <span class="play">Play Video</span>
                <img src="images/video_previews/1_start.jpg" alt="" />
              </a>
              <a href="" class="title">How to get started</a>
              <p>
                Learn how to set up folders, create a case, use and move "building blocks" around, create a header and footer, share your reports with clients and add confidential notes.
              </p>
            </div>

            <div class="grid_4">
              <a href="" class="image_preview">
                <span class="play">Play Video</span>
                <img src="images/video_previews/2_upload.jpg" alt="" />
              </a>
              <a href="" class="title">Upload your old cases</a>
              <p>
                You can upload a PDF of any case for free - the case will be available forever and you can share it with clients and add confidential notes as well.
              </p>
            </div>
            
            <div class="grid_4">
              <a href="" class="image_preview">
                <span class="play">Play Video</span>
                <img src="images/video_previews/3_capture.jpg" alt="" />
              </a>
              <a href="" class="title">Video and Image capture</a>
              <p>
                Learn how easy it is to capture images from your computer screen, resize and capture them. Capture a video and embed it just by playing it on your computer.
              </p>
            </div>
          </div>
          
          <div class="line">
          
            <div class="grid_4">
              <a href="" class="image_preview">
                <span class="play">Play Video</span>
                <img src="images/video_previews/4_autotext.jpg" alt="" />
              </a>
              <a href="" class="title">Using AutoText to end retyping</a>
              <p>
                Our "text snippets" feature provides a way to type words, phrases, paragraphs or whole pages just once.
              </p>
            </div>

            <div class="grid_4">
              <a href="" class="image_preview">
                <span class="play">Play Video</span>
                <img src="images/video_previews/5_manage.jpg" alt="" />
              </a>
              <a href="" class="title">Manager control panel</a>
              <p>
                Examine your stats, who has access to which case, creating employees and changing your plan.
              </p>
            </div>
            
            <div class="grid_4">
              <a href="" class="image_preview">
                <span class="play">Play Video</span>
                <img src="images/video_previews/6_breaks.jpg" alt="" />
              </a>
              <a href="" class="title">Forcing page breaks</a>
              <p>
                Learn how to split pages and create a separate billing page.
              </p>
            </div>
          </div>
          

        </div>

      
      </div>
    
    </div>
