<h1>My Dashboard</h1>

<div style="margin-top:1em;">
You have
<% if @cases.empty? %>
no cases
<% else %>
    <%= link_to(pluralize(@cases.count, 'case'), cases_path) %>
<% end %>
created
|
<%= link_to 'Create a new Case', new_case_path %>

