
<% content_for :head do %>
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW"/>
  <link href="/public/css/pricing.css" rel="stylesheet" type="text/css" />
<% end %>

<div id="pricing">
<div class="pricing">
  <div class="pricing-txt">CheckOut SherlockDocs Plans & Pricing<br />
    <font style="color:#64881e;">30-day Free Trial on All Accounts.</font></div>
  <div class="pricing-txt3">Create Your Reports in Half the Time</div>
  <div class="plans">
    <div class="plansbox">
      <div class="plan-one">
        <div class="topbox-intro">
          <div class="topbox-head">&nbsp;</div>
          <div class="topbox-txt2">Monthly Price</div>
        </div>
        <div class="box-intro"># Reports/month included</div>
        <div class="box-intro">Price/report for additional reports</div>
        <div class="box-intro">Storage</div>
        <!--
        <div class="box-intro"># users</div>
        -->
        <div class="box-intro"># clients per months</div>
        <div class="box-intro"># reports to consider upgrade</div>
      </div>
      <div class="plan-one">
        <div class="topbox">
          <div class="topbox-head">Independent</div>
          <div class="topbox-txt">$9<br />
            (per month)</div>
        </div>
        <div class="box-in">2</div>
        <div class="box-in">$4</div>
        <div class="box-in">2 GB</div>
        <!--
        <div class="box-in">1</div>
        -->
        <div class="box-in">10</div>
        <div class="box-in">7 +</div>
        <div class="choose-plan"><a class="fl"
        rel="nofollow"
        href="<%= @url_plan1 %>"><img src="/public/images/chosse-plan.jpg" 
                      width="150" height="43" alt="" border="0" /></a></div>
      </div>
      <div class="plan-one">
        <div class="topbox2">
          <div class="topbox-head">Agency</div>
          <div class="topbox-txt">$29<br />
            (per month)</div>
        </div>
        <div class="box-in">10</div>
        <div class="box-in">$3</div>
        <div class="box-in">5 GB</div>
        <!--
        <div class="box-in">3</div>
        -->
        <div class="box-in">100</div>
        <div class="box-in">33 +</div>
        <div class="choose-plan"><a class="fl"
        rel="nofollow"
        href="<%= @url_plan2 %>"><img src="/public/images/chosse-plan1.jpg" width="150" height="43" alt="" border="0" /></a></div>
      </div>
      <div class="plan-one">
        <div class="topbox">
          <div class="topbox-head">Corporate</div>
          <div class="topbox-txt">$99<br />
            (per month)</div>
        </div>
        <div class="box-in2">50</div>
        <div class="box-in2">$2</div>
        <div class="box-in2">25 GB</div>
        <!--
        <div class="box-in2">10</div>
        -->
        <div class="box-in2">unlimited</div>
        <div class="box-in2">&nbsp;</div>
        <div class="choose-plan"><a class="fl"
        rel="nofollow"
        href="<%= @url_plan3 %>"><img src="/public/images/chosse-plan.jpg" width="150" height="43" alt="" border="0" /></a></div>
      </div>
    </div>
  </div>
  <div class="pricing-txt1">Users have access to their reports for as long your account is active +90 days</div>
  <div class="pricing-txt2"><font style="color:#64881e; font-size:33px;">Sign up in 60 seconds.</font><br />
    Upgrade, downgrade, or cancel anytime.</div>
    </div>
</div>
<div class="clr"></div>
<div id="midbox">
  <!--<div class="midbox"> SherlockDocs is so simple that you can't do anything wrong.<br />
    SherlockDocs is addictively easy-to-use. </div>-->
  <div class="midwrapper">
    <div class="contract-btn"><img src="/public/images/contract-btn.jpg" 
                                   width="247" height="34" /><br />
      <a class="txt" href="#">SherlockDocs starts at $9/month</a> </div>
    <div class="inbox">
      <div class="inbox-body-new">
        <div class="question-part">How does the 30-day free trial work?</div>
        <div class="answer-part">Simply sign up and create reports within your plan. Experiment with the reports for 30 days - change them, play with them, see what they can do.</div>
        <div class="question-part">Do I get a 30-day free trial if I upgrade?</div>
        <div class="answer-part">No. </div>
        <div class="question-part">Can I change plans at any time?</div>
        <div class="answer-part">Yes, Change plans anytime - upgrade to the $29/month or $99/month plan or down grade to $9/month. </div>
        <div class="question-part">Do I have to sign a long term contract?</div>
        <div class="answer-part">No long term requirements are ever required.</div>
        <div class="question-part">Are there per-user fees?</div>
        <div class="answer-part">No per user fees. Have as many people in your office use this report as you want. However, only one logon per office is allowed.</div>
        <div class="question-part">What types of payment do you accept?</div>
        <div class="answer-part">We accept all major credit cards.</div>
      </div>
    </div>
    <div class="bottomtxt">SherlockDocs focus on <font style="color:#e75c0d;">simplicity,</font> <font style="color:#67911c;">clarity,</font> and <font style="color:#2670b0;">ease of use</font> make it truly unique.<br />
      You’ll love using SherlockDocs.</div>
  </div>
</div>
<div class="clr"></div>
<script type="text/javascript">
_kmq.push(['record', 'viewed pricing page']);
</script>
