<div class="block-editable" id="block-editable-<%= page_break.block.id %>">
  <div class="page-break-fields">  
    <div style="margin-bottom: 5px;">
      <strong>With Header:</strong>
      <span class="with-header-value">
        <%= page_break.with_header ? 'Yes' : 'No' %>      
      </span>
    </div>
  </div>
</div>