<div style="float:left;width:100%;height:35px;">
  <form class="form-center form-center-wide"
        onsubmit="alert('Not implemented yet');return false;">  
      <div class="styled-select" style="float:left;margin-right:1em;">
        <select style="">
              <option>To Insert a block here, choose block &amp; click INSERT</option>
              <option>Text Block</option>
              <option>Picture Block</option>
              <option>Video Block</option>
        </select>      
      </div>
      <div style="float:left;">
        <input type="submit" class="button" value="Insert"/>
      </div>
  </form>
</div>