<%= case_author_only(@case) do %>
<div class="form-insert-block-wrapper">
  <form class="form-center form-center-wide form-insert-block">
    <div class="rich-dropdown-wrapper">
      <select class="rich-dropdown" style="width:412px;">
        <option value="" selected="selected">
          To Insert a block here, choose block &amp; click INSERT
        </option>
        <option value="text">Text Block</option>        
        <option value="data_log">Data Log Block</option>        
        <option value="witness_statement">Witness Statement</option>        
        <option value="picture">Picture Block</option>
        <option value="video">Video Block</option>        
      </select>
      
      <div class="insert-wrapper">
        <input type="submit" class="button" value="Insert"/>
      </div>
      
    </div>    
  </form>
</div>
<% end %>
