<form class="form-center">
  <div>
    <div class="styled-select">
      <select>
          <option>To Insert a block here, choose block &amp; click INSERT</option>
            <option>Text Block</option>
            <option>Picture Block</option>
            <option>Video Block</option>
      </select>
    </div>    
  </div>
</form>