<div class="form-insert-block-wrapper">    
  <form class="form-center form-center-wide form-insert-block">  
      <div class="styled-select" style="float:left;margin-right:1em;">
        <select style="">
              <option value="" selected="selected">
                To Insert a block here, choose block &amp; click INSERT
              </option>
              <option value="text">Text Block</option>
              <option value="picture">Picture Block</option>
              <option value="video">Video Block</option>
        </select>      
      </div>
      <div style="float:left;">
        <input type="submit" class="button" value="Insert"/>
      </div>
  </form>
</div>