body {
    text-align: center;
}

.container {
    width: 960px;
    margin:auto;
    text-align: left;    
    position: relative;
}

.main-top {
    background: url(header_960.png);
    height: 16px;
}

.main-bottom {
    background: url(footer_960.png);
    height: 16px;
}

.mainwrapper {
    background: url(bg_960.png);    
}

.mainwrapper .inner {
    margin: 0 45px;
    position: relative;
}

h1 {
    /*
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    */
    padding-bottom: 5px;
    margin-bottom: 17px;
}

h1 {
    margin-bottom: 8px;
}

h1 small {
    font-size: 70%;
}

ol li {
    list-style-type: decimal;    
}

#top-user-links {
    font-weight: bold;
    float: right;
}

input, textarea {
    padding: 2px;
}

label {
    display: block;    
    color: #397A89;
    font-size: 16px;
    float: left;    
}

label.inline {
    display: inline;
    margin-top:0;
    float: none;
    width: auto;
    font-weight: normal;
}

label.vertical {
    float: none;
    width: auto;
}

.field, .actions {
    clear: both;
}

.form-center {
    width: 400px;
    margin: auto;
    text-align: left;
}

label {
    width: 130px;
    line-height: 28px;
}

.actions, .field-right {
    padding-left: 130px;
}

.actions.no-margin {
    padding-left: 0;
}

.form-labels-wider label {
    width: 150px;
}
.form-labels-wider .actions,
.form-labels-wider .field-right
{    
    padding-left: 150px;
}

.field {
    height: 40px;
}


span.hidden {
    visibility: hidden;
}

div.hidden {
    display: none;
}

.errors-list li, #error_explanation li {
    list-style-type: disc;
}

.field_with_errors label {
    font-weight: bold;        
}

.field_with_errors input {
    border: 1px solid red;
}

.actions {
    margin: 1em 0 0 0;
}

.actions a {
    margin-left: 1em
}

.form-case .summary textarea {
    width: 85%;
}

textarea.rich {
    width: 95%;
}

.blocks-area textarea {
    width: 99%;
    /*
    height: 5em;
    */
}

.blocks-area .block {    
}

.blocks-area .block h3.block-title {
    margin-bottom: 0;
}

.blocks-area .block .actions a {    
    margin-left: 0.5em;
}

.flash-messages .msg {
    border: 2px solid #DDDDDD;
    margin-bottom: 1em;
    padding: 0.8em;
}

.flash-messages #notice {
    background: none repeat scroll 0 0 #E6EFC2;
    border-color: #C6D880;
    color: #264409;
}

.flash-messages #alert {
    background: none repeat scroll 0 0 #FFF6BF;
    border-color: #FFD324;
    color: #514721;
}

ol.cases li {
     margin-bottom:0.5em;
     border-bottom:1px solid #ccc;
     padding-bottom:0.5em;
}

#company-name {
    position: absolute;
    right: 0em;
    font-size: 300%;
    top: 1em;
}

.midleft {
    float: left;    
    width: 348px;
}

.midright {
    float: right;    
    width: 348px;
}

.inbox-hd {
    background: url(head-bg.jpg) no-repeat scroll 0 0 transparent;
    color: #FFFFFF;    
    font-family: DIN-Bold;
    font-size: 24px;
    height: 35px;
    line-height: 35px;    
    padding-left: 10px;
    margin-bottom: 26px;
}

.head {
    float: right;
    height: 37px;
    margin-top: 15px;
}

.headtxt {
    color: #0B7890;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 26px;
    height: 37px;
    line-height: 37px;
    width: 100px;
}

#top-user-links .headtxt {
    font-weight: normal;
}

.head-account-links {
    float: left;
    height: 37px;    
}

.head-account-links a {
    display: block;
    width: 37px;
    height: 37px;
    float: left;
    text-indent: -9999em;
}

.head-account-links a.settings {
    background: url(setting.jpg);
}

.head-account-links a.help {
    background: url(help.jpg);
}

.txtbox {
    height: 28px;
    padding-bottom: 13px;    
}

.boxtxt, .boxfield {
    float: left;
    height: 28px;
}

.boxtxt {
    color: #397A89;    
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;    
    width: 130px;
    line-height: 28px;
}

.boxfield {        
    width: 218px;
}

.txtfield {
    background: url(txtfield.jpg) no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #666666;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    padding-left: 8px;
    width: 210px;
}

.txtbox2 {
    color: #397A89;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    height: 28px;
    padding-bottom: 13px;
    text-align: center;
    width: 348px;
}

.txtbox2 label {
    margin-right: 1em;
}

input.button {
    cursor: pointer;
    width: 94px;
    height: 28px;
    border: none;
    background-image:url(btn.jpg);
    font-size: 14px;
    color: #fff;
}

input.button-wide {
    width: 218px;
    background-image:url(btn_218.png);
}