body {
    text-align: center;
}

.container {
    width: 960px;
    margin:auto;
    text-align: left;    
    position: relative;
}


h1 {
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    padding-bottom: 5px;
    margin-bottom: 17px;
}

h1 {
    margin-bottom: 8px;
}

h1 small {
    font-size: 70%;
}

ol li {
    list-style-type: decimal;    
}

#top-user-links {
    font-weight: bold;
    float: right;
}

input, textarea {
    padding: 2px;
}

label {
    display: block;
    margin-top: 1em;
    font-weight: bold;
    margin-bottom: 2px;
}

label.inline {
    display: inline;
    margin-top:0;
}

.errors-list li, #error_explanation li {
    list-style-type: disc;
}

.field_with_errors label {
    font-weight: bold;        
}

.field_with_errors input {
    border: 1px solid red;
}

.actions {
    margin: 1em 0;
}

.form-case .summary textarea {
    width: 95%;
}

textarea.rich {
    width: 95%;
}

.blocks-area textarea {
    width: 99%;
    height: 5em;
}

.blocks-area .block {    
}

.blocks-area .block h3.block-title {
    margin-bottom: 0;
}

.blocks-area .block .actions a {    
    margin-left: 0.5em;
}

.flash-messages .msg {
    border: 2px solid #DDDDDD;
    margin-bottom: 1em;
    padding: 0.8em;
}

.flash-messages #notice {
    background: none repeat scroll 0 0 #E6EFC2;
    border-color: #C6D880;
    color: #264409;
}

.flash-messages #alert {
    background: none repeat scroll 0 0 #FFF6BF;
    border-color: #FFD324;
    color: #514721;
}

ol.cases li {
     margin-bottom:0.5em;
     border-bottom:1px solid #ccc;
     padding-bottom:0.5em;
}