// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clients-list table {
  width: 100%;
  margin-bottom: 0;
}

dl.client-info {
  margin-left: 0;
  font-size: 120%;
}

dl.client-info dd {
  margin-bottom: 5px;
}

.client-form {
  margin-top: 1em;
}