
li.link-up a {
  display: block;
  width: 64px;
  margin-top: 20px;
  height: 80px;
  text-indent: -1000em;
  background: url(exit_icon_64.png) no-repeat;
}

.case-icons-list li.link-up {
  width: 64px;
  margin-left: 2em;
  height: 100px;
}

#folder-is-empty {
  margin-bottom: 0;
}

.case-icons-list li.folder div.link a {  
  background-image: url(folder-64.png);
}

.folder-small-icons {
  padding-left: 28px;
  height: 18px;
}

.block-move select {
  margin-right: 1em;
}

#folder-wrapper .link-buttons {
  position: absolute;
  right: 0;
  top: 4px;
}

#folder-wrapper {
  position: relative;
}

