!!! 5
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
  %body
    Dear
    =@user.first_name + ','
    %br
    %br
    We hope are enjoying your free trial of SherlockDocs. This notice is to let 
    you know that if you have not created any reports yet,
    there are <strong>only 4 days left</strong> in your free trial. If you 
    are having any difficulty creating a report or using any of SherlockDocs features, 
    please contact us right away at info@sherlockdocs.com.
    %br
    %br
    Thanks for taking the time to try SherlockDocs. We look forward to having 
    you as a client.
    %br
    %br
    Paul Beauchemin
    %br
    Founder
    %br