!!! 5
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
  %body
    =simple_format(@invitation.message)
    %br    
    =simple_format(@invitation.help_message)
    %br    
    =link_to @invitation.link_text, @invitation.link_target
    %br
    %p
      In order to open PDF reports from SherlockDocs you will need a free
      Adobe Reader installed. Get it from:
    %br
    %p http://get.adobe.com/reader/
    %br
    %p 
      Sincerely
      %br
      SherlockDocs Team

  


