!!! 5
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
  %body

    =simple_format(@invitation.message)

    =simple_format(@invitation.help_message)

    =link_to @invitation.link_text, @invitation.link_target
    %br%br
    %p
      In order to open PDF reports from SherlockDocs you will need a free
      Adobe Reader installed. Get it from:
    %br%br
    %p http://get.adobe.com/reader/
    %br%br
    %p Sincerely
    %br%br
    %p SherlockDocs Team</p>    

  


