@invitation.message

@invitation.help_message

=link_to @invitation.link_text, @invitation.link_target

In order to open PDF reports from SherlockDocs you will need a free Adobe Reader installed. Get it from:
  
http://get.adobe.com/reader/

Sincerely,

SherlockDocs Team