Dear User,

Please find a sample report created by <a href="<%= @link_signup %>">SherlockDocs</a> attached to this email.

The report contains an embedded evidence video that you can play by clicking the picture.

Now that you've seen how easy it is for your clients to see your case instantly, sign up at <a href="<%= @link_signup %>">SherlockDocs</a> and save time by creating reports in minutes, not hours.

In order to open PDF reports from SherlockDocs you will need a free Adobe Reader installed. Get it from:
http://get.adobe.com/reader/

Sincerely
SherlockDocs Team