!!! 5
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
  %body
    Dear User,
    %br
    %br
    Please find a sample report created by
    %a{:href => @link_signup}
      SherlockDocs        
    attached in this email.
    %br
    %br
    The report contains an embedded evidence video that you can play by clicking 
    the picture.
    %br
    %br
    Now that you've seen how easy it is for your clients to see your case instantly, 
    sign up at
    %a{:href => @link_signup}
      SherlockDocs    
    and save time by creating reports in minutes, not hours.
    %br
    %br
    In order to open PDF reports from SherlockDocs you will need a free
    Adobe Reader installed. Get it from:
    %br
    http://get.adobe.com/reader/
    %br
    %br
    Sincerely
    %br
    SherlockDocs Team