!!! 5
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
  %body
    Dear 
    =@recipient.first_name 
    =@recipient.last_name
    ,
    %br
    Welcome to SherlockDocs! You can start using your account and create reports at:
    %br
    %br
    %a{:href => @url_main}Your SherlockDocs Dashboard
    %br   
    %br
    We created a random password for you: 
    %b
      =@recipient.password_plain
    which you can change at any time.
    %br
    %br
    Sincerely,
    %br
    SherlockDocs Team

  


