%h2.clear RESOURCE USAGE

=number_to_human_size(@account.space_usage)

%h3 Subscription Plan

-if @my_plan  
  Name:
  =@my_plan.chargify_handle.gsub('_', ' ').capitalize
  %br
  Period Ends:
  =print_date_or @my_subscription.period_ends_at, 'never'  
  %br
  Max reports:
  =@my_subscription.cases_max
  %br
  Used reports:
  =@my_subscription.cases_count    
  %br
  One-time report credits:
  =@one_time_credits.count
    
-else
  You have no subscription plan active yet

-if @should_upgrade
  %div{:style => 'margin-top:0.5em;height: 2em;'}
    =link_to 'Upgrade', upgrade_path, :class => :button



