%h1 Your Account

=form_for @account, :url => account_path do |form|
  .field
    =form.label :company_name
    .boxfield
      =form.text_field :company_name, :class => 'txtfield txtfield-wide'

  .controls
    =form.submit 'Update', :class => 'button'

