%h1 Your Account



=form_for @account, :url => account_path do |form|
  .field.labels-x
    =form.label :company_name, 'PI Company Name :'
    .boxfield
      =form.text_field :company_name, :class => :txtfield

  %h2 ACCOUNT INFO

  .midleft.labels-x
    .field  
      %label First Name :
      .boxfield
        =form.text_field :first_name, :class => :txtfield
    =form.fields_for :user_address do |address|
      .field  
        %label Address :
        .boxfield
          =address.text_field :address, :class => :txtfield          
      .field  
        %label State :
        .styled-select-rounded-x
          =address.select :state, states_options
          
      .field  
        %label Zip :
        .boxfield
          =address.text_field :zip, :class => :txtfield          

  .midright
    .field  
      %label Last Name :
      .boxfield
        =form.text_field :last_name, :class => :txtfield
    =form.fields_for :user_address do |address|
      .field  
        %label City :
        .boxfield
          =address.text_field :city, :class => :txtfield
      .field  
        %label Country :
        .styled-select-rounded-x
          =address.select :country, countries_options
      .field  
        %label Phone Number :
        .boxfield
          =address.text_field :phone, :class => :txtfield

  %h2.clear PASSWORD

  .midleft.labels-x
    .field  
      %label Password :
      .boxfield
        =form.password_field :password, :class => :txtfield        
    .field
      %label Confirm Password :
      .boxfield
        =form.password_field :password_confirmation, :class => :txtfield
    
  %h2.clear PERMISSIONS

  .labels-x
    .controls
      =form.submit 'Update', :class => 'button'

