%h1 Your Account

=form_for @account, :url => account_path do |form|
  .field.labels-x
    =form.label :company_name, 'PI Company Name :'
    .boxfield
      =form.text_field :company_name, :class => :txtfield

  %h2 ACCOUNT INFO

  .midleft.labels-x
    .field
      %label Email :
      .boxfield
        =form.email_field :email, :class => :txtfield
    
  .midleft.clear.labels-x
    .field  
      %label First Name :
      .boxfield
        =form.text_field :first_name, :class => :txtfield
    =form.fields_for :user_address do |address|
      .field  
        %label Address :
        .boxfield
          =address.text_field :address, :class => :txtfield          
      
      .field  
        %label State :
        .rich-dropdown-wrapper.rich-dropdown-wrapper-x 
          =address.select :state, states_options, {}, 'data-show-rows' => 7, 
                          :tablindex => 8
          
      .field  
        %label Zip :
        .boxfield
          =address.text_field :zip, :class => :txtfield          

  .midright
    .field  
      %label Last Name :
      .boxfield
        =form.text_field :last_name, :class => :txtfield
    =form.fields_for :user_address do |address|
      .field  
        %label City :
        .boxfield
          =address.text_field :city, :class => :txtfield
      .field  
        %label Country :
        .rich-dropdown-wrapper.rich-dropdown-wrapper-x        
          =address.select :country, countries_options
      .field  
        %label Phone Number :
        .boxfield
          =address.text_field :phone, :class => :txtfield

  %h2.clear PASSWORD

  .midleft.labels-x
    .field  
      %label Password :
      .boxfield
        =form.password_field :password, :class => :txtfield        
    .field
      %label Confirm Password :
      .boxfield
        =form.password_field :password_confirmation, :class => :txtfield
    
  .labels-x
    .controls
      =form.submit 'Update', :class => 'button'


  %h2.clear PERMISSIONS

  %table.viewers
    %thead
      %tr
        %th.case.first Case Title
        %th.viewers.last Viewers                                  
    %tbody     
      -@cases.each do |c|
        %tr
          %td  
            =link_to 'Share', new_case_invitation_path(c), 
             :title => 'Share Report',
             :class => 'icon icon-envelope'           
            =link_to c.title, c
          %td
            -c.viewers.each do |viewer|
              .viewer{:style => 'margin-bottom:2px;'}
                =link_to viewer.email

 
